<!DOCTYPE html>
<html lang="lv">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, inital-scale=1.0">
        <title>Meteoprojekts</title>
        <link rel="stylesheet"
href="style.css">
    </head>
    <body>
        <!--Galvenais virsraksts-->
        <h1>Meteoprojekts</h1>
        <!--Teksts-->
        <h2>Laika datu ievade</h2>
        <form>
            <label for="day">Datums</label>
            <input tuype="date" id="day" name="day">
            <label for="temp">Temperatūra:</label>
            <input type="number" id="temp" name="temp">
            <button type="submit">Iesniegt</button>
        </form>
        <!--Tabula-->
        <h2>Temperatūras dati</h2>
        <table>
           <tr>
            <th>Datums</th>
            <th>Temperatūra</th>
           </tr>
        </table>
        <p>Vidējā temperatūra visām dienām:</p>
    </body>
    </html>